@import "tailwindcss";
/* 
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}; */

html, body, #root, #__remix {
  height: 100%;
}


.item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 12px;
  border-bottom: 1px solid #333;
}